# Object files
*.o
*.ko
*.obj
*.elf
*.pdf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.swp
*.swo

*.s

.DS_Store

report/**/*.aux
report/**/*.log
report/**/*.out
report/**/md5_info.csv
report/**/md5_info_headers.csv
report/**/md5_info_impls.csv


VERSION


