# Object files
*.o
*.ko
*.obj
*.elf
*.pdf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.swp
*.swo

*.s

.DS_Store

guide/**/*.aux
guide/**/*.log
guide/**/*.out
guide/tasks.png
guide/**/md5_info.csv
guide/**/md5_info_headers.csv
guide/**/md5_info_impls.csv
guide/**/md5_info_others.csv

VERSION
CODE_NAME

