# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.swp
*.swo

*.s

.DS_Store

reports/**/*.aux
reports/**/*.log
reports/**/*.out
reports/**/md5_info.csv

